{% extends 'index.html' %}


{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message.decode('utf-8') }}</p>
    {% endfor %}
{% endif %}
{% endwith %}

<form action="/add" method="post">
    <fieldset>
        <legend>Add new contact</legend>

        <label for="name">Contact name</label>
        <input type="text" id="name" name="name">

        <label for="phone">Phone number</label>
        <input type="text" id="phone" name="phone">

        <label for="email">Email address</label>
        <input type="text" id="email" name="email">

        <button type="submit" name="button">Add new contact</button>
    </fieldset>
</form>

<p>
    <a href="/">Back to home</a>
</p>
{% endblock %}
